<a href="https://colab.research.google.com/github/rajviishah/Real-Estate-Investment/blob/main/Classification-Techniques/Muller-Classification-Loop-Yash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [ ]:
import time
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from google.colab import drive

mounting google drive.

In [ ]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

import cleaned data from drive using pandas

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/257/clean_train.csv")

df

,Unnamed: 0,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0,1,60,8450,7,5,2003,2003,706,0,...,0,0,0,1,0,0,0,0,1,0
1,1,2,20,9600,6,8,1976,1976,978,0,...,0,0,0,1,0,0,0,0,1,0
2,2,3,60,11250,7,5,2001,2002,486,0,...,0,0,0,1,0,0,0,0,1,0
3,3,4,70,9550,7,5,1915,1970,216,0,...,0,0,0,1,1,0,0,0,0,0
4,4,5,60,14260,8,5,2000,2000,655,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1455,1456,60,7917,6,5,1999,2000,0,0,...,0,0,0,1,0,0,0,0,1,0
1453,1456,1457,20,13175,6,6,1978,1988,790,163,...,0,0,0,1,0,0,0,0,1,0
1454,1457,1458,70,9042,7,9,1941,2006,275,0,...,0,0,0,1,0,0,0,0,1,0
1455,1458,1459,20,9717,5,6,1950,1996,49,1029,...,0,0,0,1,0,0,0,0,1,0
1456,1459,1460,20,9937,5,6,1965,1965,830,290,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
df = df.drop(['Unnamed: 0'], axis = 1)
df

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,2,20,9600,6,8,1976,1976,978,0,284,...,0,0,0,1,0,0,0,0,1,0
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,0,0,1,1,0,0,0,0,0
4,5,60,14260,8,5,2000,2000,655,0,490,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1456,60,7917,6,5,1999,2000,0,0,953,...,0,0,0,1,0,0,0,0,1,0
1453,1457,20,13175,6,6,1978,1988,790,163,589,...,0,0,0,1,0,0,0,0,1,0
1454,1458,70,9042,7,9,1941,2006,275,0,877,...,0,0,0,1,0,0,0,0,1,0
1455,1459,20,9717,5,6,1950,1996,49,1029,0,...,0,0,0,1,0,0,0,0,1,0
1456,1460,20,9937,5,6,1965,1965,830,290,136,...,0,0,0,1,0,0,0,0,1,0

**TotRmsAbvGrd**: Total rooms above grade (does not include bathrooms)

In [ ]:
y_train = df['TotRmsAbvGrd']
X_train = df.drop(['TotRmsAbvGrd'], axis=1)

In [ ]:
normalized_X = (X_train-X_train.min())/(X_train.max()-X_train.min())
normalized_X

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0.000000,0.235294,0.033420,0.666667,0.500,0.949275,0.883333,0.322669,0.000000,0.064212,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.000685,0.000000,0.038795,0.555556,0.875,0.753623,0.433333,0.446984,0.000000,0.121575,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.001371,0.235294,0.046507,0.666667,0.500,0.934783,0.866667,0.222121,0.000000,0.185788,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.002056,0.294118,0.038561,0.666667,0.500,0.311594,0.333333,0.098720,0.000000,0.231164,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.002742,0.235294,0.060576,0.777778,0.500,0.927536,0.833333,0.299360,0.000000,0.209760,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,0.997258,0.235294,0.030929,0.555556,0.500,0.920290,0.833333,0.000000,0.000000,0.407962,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1453,0.997944,0.000000,0.055505,0.555556,0.625,0.768116,0.633333,0.361060,0.110583,0.252140,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1454,0.998629,0.294118,0.036187,0.666667,1.000,0.500000,0.933333,0.125686,0.000000,0.375428,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1455,0.999315,0.000000,0.039342,0.444444,0.625,0.565217,0.766667,0.022395,0.698100,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1456,1.000000,0.000000,0.040370,0.444444,0.625,0.673913,0.250000,0.379342,0.196744,0.058219,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

**split the features and labels into  train and test data**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y_train, test_size=0.2, random_state=1)

In [ ]:
names = ["Decision Tree", "Random Forest", "Logistic Regression", "Support Vector Machines", "Naive Bayes", "k Nearest Neighbors"]

In [ ]:
classifiers = [
    DecisionTreeClassifier(),
    RandomForestClassifier(max_depth=2, random_state=0),
    LogisticRegression(random_state=0),
    SVC(gamma='auto'),
    GaussianNB(),
    KNeighborsClassifier(n_neighbors=3)

]

In [ ]:
max_score = 0.0
max_class = ''
# iterate over classifiers
for name, clf in zip(names, classifiers):
    start_time = time.time()
    clf.fit(X_train, y_train)
    score = 100.0 * clf.score(X_test, y_test)
    print('Classifier = %s, Score (test, accuracy) = %.2f,' %(name, score), 'Training time = %.2f seconds' % (time.time() - start_time))
    
    if score > max_score:
        clf_best = clf
        max_score = score
        max_class = name

Classifier = Decision Tree, Score (test, accuracy) = 51.03, Training time = 0.04 seconds
Classifier = Random Forest, Score (test, accuracy) = 31.85, Training time = 0.18 seconds

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

Classifier = Logistic Regression, Score (test, accuracy) = 41.78, Training time = 0.32 seconds
Classifier = Support Vector Machines, Score (test, accuracy) = 29.45, Training time = 0.36 seconds
Classifier = Naive Bayes, Score (test, accuracy) = 7.88, Training time = 0.01 seconds
Classifier = k Nearest Neighbors, Score (test, accuracy) = 34.93, Training time = 0.03 seconds

In [ ]:
print('Best --> Classifier = %s, Score (test, accuracy) = %.2f' %(max_class, max_score))

Best --> Classifier = Decision Tree, Score (test, accuracy) = 51.03